<!DOCTYPE html>
<html>

<head>
  <title>
    Data
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <% for(var key in data) {%>
    <h1><%= key %></h1>
    <p><%= JSON.parse(data[key]) %></p>
    <%} %>
</body>

</html>